/*DEBUG MODE*/

.debug * {
  border: dashed 1px black;
}

.debug header {
  background-color: pink;
  height: 100px;
}

.debug header .container {
  background-color: red;
  width: 75%;
  height: 100%;
  margin: auto;
}


.debug main {
  background-color: yellowgreen;
  height: 550px;
}

.debug main .container {
  display: flex;
  background-color: aqua;
  width: 75%;
  height: 100%;
  margin: auto;
  padding: 1rem;;
  flex-wrap: wrap;          
  justify-content: space-between; 
  align-content: space-between; 
}

.debug main .container .card{

    background-color: yellow;
    width: 30%;
    height: 40%;
    
}

.debug footer {
  background-color: gray;
  height: 125px;
}

.debug footer .container {
  background-color: slateblue;
  height: 100%;
  width: 75%;
  margin: auto;
}

/*END DEBUG MODE*/

/*GLOBAL RULES*/
:root{
    --txt-banner: #FFFFFF;
    --discount: #FF0000;
    --sustainability: #008000;
    --banner-logo: #FF6900;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dashed black /**/
}

/*END GLOBAL RULES*/

/*UTILITY*/

.list-unstyled{
    list-style: none;

    
}

.d-flex{
    display: flex;
}


.container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 75%;
  margin: auto;
}

.card{width: calc((100% - 2rem) / 3);
}

/*HEADER SECTION*/
header{
    background-color: var(--banner-logo) ;
    
}

nav{
    width: 75%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: auto;
    color: var( --txt-banner) ;
    
    

    ul, a{
        text-decoration: none;
        color: inherit;
        gap: 0.5rem;
        
    }

        
    ul{
        display: flex;
    }
  }  